<div class="mainContainer">
  <div class="bdayLetter">
    <span class="message">{{ displayText() }}</span>

    @if (showName()) {
    <span class="tagInner">{{ nameText() }}</span>
    }
  </div>

  @if (showImage()) {
  <div class="image-container">
    <img class="birthday-image" [src]="mainImage" alt="Birthday Image" />
    <div class="image-balloons">
      <div
        class="balloon-img"
        style="background-color: #ffd700; left: -50px; top: 0; animation-duration: 4s"
      ></div>
      <div
        class="balloon-img"
        style="background-color: #ff69b4; right: -50px; top: 20px; animation-duration: 3s"
      ></div>
      <div
        class="balloon-img"
        style="background-color: #adff2f; left: -30px; bottom: -10px; animation-duration: 5s"
      ></div>
    </div>
  </div>
  }

  <div class="ShowLetter">
    <button class="btn" (click)="showNotebook()">Show Letter</button>
  </div>

  <div class="notebook" [style.display]="isNotebookVisible ? 'flex' : 'none'">
    <div class="letter">
      <div class="page left" (click)="previousPage()" [class.disabled]="currentPage === 0">
        <div class="page-content">
          <img [src]="pages[currentPage].left" alt="Birthday Picture" class="page-image" />
        </div>
      </div>

      <div
        class="page right"
        (click)="nextPage()"
        [class.disabled]="currentPage === pages.length - 1"
      >
        <div class="right-page-content">
          <h2 class="right-title">{{ pages[currentPage].right.title }}</h2>
          <p class="right-mess">{{ pages[currentPage].right.mess }}</p>
          <span class="right-swap">{{ pages[currentPage].right.page }}</span>
        </div>
      </div>

      <button class="close-btn" (click)="hideNotebook()">x</button>
    </div>
  </div>

  @if (showBalloons()) {
  <div id="balloon-container">
    @for (style of balloons(); track $index) {
    <div class="balloon" [style]="style"></div>

    }
  </div>
  }
</div>
